/* Global Reset */
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
/* body {
  font-family: "Inter", sans-serif;
  color: #333;
  background-color: #f2f4f5;
  line-height: 1.6;
  display: flex;
  justify-content: center;
} */

a {
  text-decoration: none;
  color: inherit;
}

/* Responsive padding and margin */
@media (min-width: 768px) {
  body {
    font-size: 1rem;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 0.9rem;
  }
}
